body {
    background-color: var(--bg);
}

.grid {
    display: flex !important;
    align-items: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    content: flex;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px var(--pico-color-black);
    background: var(--grid);
}

.post-image {
    padding: 10px;
    display: block !important;
    max-width: 350px;
    height: auto;
}

.post-content {
    position: relative;
    padding: 10px;
    margin-left: 15px;
    flex: 1;
}

.heart-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.tags {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    width: 65%;
}

.sort {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    display: inline-block;
    align-items: center;
    width: 35%;
}

.sort-dropdown {
    display: none;
    position: absolute;
    background: var(--bg);
}

.sort:hover .sort-dropdown {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    background: var(--grid);
    padding: 10px;
    z-index: 1;
}

.bodyTitle {
    padding: 15px;
}

input[type=submit] {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    background: var(--grid) !important;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
}