[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
    --pico-text-selection-color: rgba(244, 93, 44, 0.25);
    --pico-primary: #bd3c13;
    --pico-primary-background: #d24317;
    --pico-primary-underline: rgba(189, 60, 19, 0.5);
    --pico-primary-hover: #942d0d;
    --pico-primary-hover-background: #bd3c13;
    --pico-primary-focus: rgba(244, 93, 44, 0.5);
    --pico-primary-inverse: #fff;
}
body {
    background-color: #95B46A;
}
.header {
    position: sticky;
    top: 0;
    padding: 0px;
    background: #413C58;
    color: #413C58;
    z-index: 1;
}
a {
    text-decoration: none;
}
hr {
    height: 2px !important;
    border-width: 0;
    color: #172815 !important;
    background: #172815 !important;
}
.grid {
    display: flex !important;
    align-items: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: #251F47;
    border-radius: 15px;
    padding: 10px;
    content: flex;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px black;
    background: #3E5622;
}
.search {
    position: center;
    margin-bottom: 0px !important;
    background: #709255;
    color: white !important;
}
.post-image {
    padding: 10px;
    display: block !important;
    max-width: 350px;
    height: auto;
}
.post-content {
    position: relative;
    padding: 10px;
    margin-left: 15px;
    flex: 1;
}
.heart-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.tags {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 15px;
    padding: 10px;
    width: 65%;
}
.sort {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 35%;
}
.sort-dropdown {
    display: none;
    position: absolute;
    background: #3E5622;
}
.sort:hover .sort-dropdown{
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 15px;
    background: #3E5622;
    padding: 10px;
    z-index: 1;

}
.logo {
    display:inline-block;
    padding: 20px;
}
nav {
    background-color: #404E7C;
}
.bodyTitle {
    padding: 15px;
}
footer {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    margin-bottom: 0px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: #172815;
}
