<!DOCTYPE html>
<html>
    <head>
        {% block linkStyle %}{% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}">
        <title> Sample page</title>
    </head>
    <!--Please ignrore the image. It is a placeholder.-->
    <body background="E8F1F2">
        <header class="header">
            <nav class="navbar">
                <ul>
                    <li><a href="index.html" class="contrast">Home</a></li>
                    <li><a href="#" class="contrast">Account</a></li>
                    <li><a href="#" class="contrast">About</a></li>
                    <li><a href="create.html" class="contrast">Post</a></li>
                </ul>
                <ul>
                    <input
                        type="search"
                        name="search"
                        placeholder="Search"
                        aria-label="Search"
                        class="search"
                    />
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    <footer class="container">
        <p class="no-margin">
            <a href="https://github.com/picocss/pico">Privacy | Terms of Use | Trademarks | © 2025 WAGA BAGA BOBO</a>
        </p>
    </footer>
</html>
