{% extends 'base.html' %}

{% block linkStyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<!--Please ignrore the image. It is a placeholder.-->
    <main class="container">
        <div class="grid">
            <form method="get" style="display: inline-flex; width: 100%">
                <div class="tags">
                    <input name="tags" type="text" class="tags" placeholder="Write tags" aria-label="Tags" style="margin-bottom: 0px;">
                    <button class="sort-dropdown" type="submit">
                        <p>Select</p>
                    </button>
                </div>
                <div class="sort">
                    <p style="margin-bottom: 0px;">Sort by:</p>
                    <fieldset class="sort-dropdown">
                        <label>
                            <input type="radio" name="post-sort" value = "option1" checked />
                            By most likes
                        </label>
                        <label>
                            <input type="radio" name="post-sort" value = "option2"/>
                            By most recent
                        </label>
                        <label>
                            <input type="radio" name="post-sort" value = "option3"/>
                            By least likes
                        </label>
                        <label>
                            <input type="radio" name="post-sort" value = "option4"/>
                            By least recent
                        </label>
                        <button class="sort-dropdown" style="position: relative;" type="submit">
                            <p>Select</p>
                        </button>
                    </fieldset>
                </div>
            </form>
        </div>
        <hr></hr>
        {% for obj in posts %}
        <div class="grid">
            <a href="{{ url_for('profile', post_id=obj.id) }}">
                <div class="post-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F10%2F05%2F22%2F37%2Fblank-profile-picture-973460_1280.png&f=1&nofb=1&ipt=14271c7268ebcb0abfe3c7a7d65ed0ad4a21906affd42fd252e401bf255aef81" height="350" width="350"/>
                </div>
            </a>
            <div class="post-content">
                <a href="{{ url_for('profile', post_id=obj.id) }}">
                    <button class="heart-btn">{{ obj.likes }}❤️</button>
                </a>
                <a href="{{ url_for('profile', post_id=obj.id) }}">
                    <h1>{{ obj.title }}</h1>
                </a>
                <hr></hr>
                <p>{{ obj.body }}</p>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}
