{% extends 'base.html' %}

{% block linkStyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
{% endblock %}

{% block body %}
        <main class="container">
            <div class="grid">
                Log in to your account
                <form method="POST" action="/login">
                    <input name="userName" type="text" class="title" placeholder="Username" aria-label="Title">
                    <input name="userPassword" type="text" class="post-text" placeholder="Password" aria-label="Post">
                    <button class="download" type="submit">
                        <p class="no-margin">Log in</p>
                    </button>
                </form>
                <p>Don't have an account? You can create one here</p>
                <!--<button class="download" href="create-account">
                    Create Account
                </button>-->
                <div class="grid">
                    <a href="/register">
                        <button class="download" style="width: auto; height: auto;">Create Account</button>
                    </a>
                    <a href="/logout">
                        <button class="download" style="width: auto; height: auto;">Logout</button>
                    </a>
                    <a href="/remove">
                        <button class="download" style="width: auto; height: auto;">Delete Account</button>
                    </a>
                </div>
            </div>
        </main>
{% endblock %}
