{% extends 'base.html' %}

{% block linkStyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style-profile.css') }}">
{% endblock %}

{% block body %}
    <main class="container">
        <div class="grid">
            <div class="top">
                <div class="post-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F10%2F05%2F22%2F37%2Fblank-profile-picture-973460_1280.png&f=1&nofb=1&ipt=14271c7268ebcb0abfe3c7a7d65ed0ad4a21906affd42fd252e401bf255aef81" height="350" width="350"/>
                </div>
                <div class="post-content">
                    <h1>{{ post.title }}</h1>
                    <ul>
                        <li>Posted by {{ post.author }}</li>
                        <li>{{ post.likes }} Likes</li>
                    </ul>
                    <p>Tags</p>
                    <div class="tag-box">
                        <p class="no-margin">{{ post.tags }}</p>
                    </div>
                </div>
            </div>
            <hr></hr>
            <div class="long-desc">
                <p class="no-margin">{{ post.body }}</p>
            </div>
            <hr></hr>
            <div class="top" class="no-margin" style="justify-content: center;">
                <form method="post" action="{{ url_for('like_post', post_id=post.id) }}">
                    <button class="download" type="submit" >
                        <span class="no-margin">I enjoy this</span>
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
